body {
    margin: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    overflow: hidden; /* hides scrollbars */
}

main {
    padding: 0rem;
}

.grid-tournament-container {
    border-radius: 10px;
    background: linear-gradient(0deg, darkblue, transparent 50%, darkblue);
    padding-top: 15px;
    text-align: center;
}

.grid-tournament-container span {
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 15px;
}

.grid-innings-container {
    font-family: 'Montserrat';
    font-weight: bold;
    display: grid;
    grid-template-columns: auto 20px 75px 75px 75px 75px 75px 75px 75px 20px 75px 75px 75px 40px;
    align-items: stretch;
    grid-template-rows: 40px 100px;
    border-radius: 10px;
    background-color: darkorange;
    color: black;
    font-size: 40px;
}

.grid-teams-container {
    grid-column: 1 / 15;
    grid-row: 2 / 2;

    font-family: 'Montserrat';
    font-weight: bold;
    display: grid;
    grid-template-columns: auto 20px 525px 20px 225px 40px;
    align-items: stretch;
    grid-template-rows: 50px 50px;
    border-radius: 10px;
    background-color: darkblue;
}

#sb-inning1, #sb-inning2, #sb-inning3, #sb-inning4, #sb-inning5, #sb-inning6, #sb-inning7, #sb-scoreR, #sb-scoreH, #sb-scoreE {
    text-align: center;
    font-size: 80%;
}

#sb-Visitor-name, #sb-Home-name {
    font-size: 80%;
    color: white;
    text-align: right;
    background-color: lightblue;
    margin-top: 10px;
    margin-left: 20px;
    padding-right: 10px;
    border-radius: 5px;
}

#sb-Visitor-score-container, #sb-Home-score-container {
    grid-template-columns:repeat(7, 75px);
    display: grid;
    border-radius: 5px;
    color: white;
    background-color: lightblue;
}

#sb-Visitor-rhe-container, #sb-Home-rhe-container {
    grid-template-columns:repeat(3, 75px);
    display: grid;
    border-radius: 5px;
    color: black;
    background-color: yellow;
}

#sb-Visitor-name, #sb-Visitor-score-container, #sb-Visitor-rhe-container {
    margin-top: 5px;
    margin-bottom: 2px;
}

#sb-Home-name, #sb-Home-score-container, #sb-Home-rhe-container {
    margin-top: 2px;
    margin-bottom: 5px;
}

#sb-Visitor-score1, #sb-Visitor-score2, #sb-Visitor-score3, #sb-Visitor-score4, #sb-Visitor-score5, #sb-Visitor-score6, #sb-Visitor-score7, #sb-Home-score1, #sb-Home-score2, #sb-Home-score3, #sb-Home-score4, #sb-Home-score5, #sb-Home-score6, #sb-Home-score7 {
    font-size: 75%;
    text-align: center;
    background-color: lightslategrey;
    border-radius: 5px;
    margin: 3px;
}

#sb-Visitor-scoreR, #sb-Visitor-scoreH, #sb-Visitor-scoreE, #sb-Home-scoreR, #sb-Home-scoreH, #sb-Home-scoreE {
    font-size: 75%;
    text-align: center;
    background-color: darkorange;
    border-radius: 5px;
    margin: 3px;
}

