body {
  margin: 0;
  padding: 0;
  background-color: rgba(0, 0, 0, 0);
  color: white;
  overflow: hidden; /* hides scrollbars */
}

main {
  padding: 0rem;
}

.grid-tournament-container {
  border-radius: 10px;
  background: linear-gradient(0deg, darkblue, transparent 50%, darkblue);
  padding-top: 15px;
  text-align: center;
}

.grid-tournament-container span {
  font-family: 'Montserrat';
  font-weight: bold;
  font-size: 15px;
  /*color: #e5ad1a;*/
  color: white;
}

.grid-main-container {
  display: grid;
  grid-template-columns: auto 75px 120px;
  font-family: 'Montserrat';
  font-weight: bold;
  font-size: 40px;
  grid-template-rows: 50px 50px;
  border-radius: 10px;
  background: #314b6f;
}

#sb-bases {
  grid-column: 3 / 3;
  grid-row: 1 / 3;
  padding-top: 6%;
  border-radius: 10px;
}


#sb-Visitor-name, #sb-Home-name {
  color: white;
  text-align: right;
  padding-right: 15px;
  background: linear-gradient(#3f57ad, #1b2b69);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}


#sb-Visitor-scoreR, #sb-Home-scoreR {
  color: white;
  /*color: black;*/
  /*theme - silver red */
  background: linear-gradient(#d32f6e, #8c0c3d);
  /*background: linear-gradient(#ffe52e, #e5ad1a);*/
  text-align: center;
  font-size: 90%;
  padding-top: 6%;

}

.grid-stats-container {
  display: grid;
  grid-template-columns: auto 10px 40px 30px 75px 120px;
  grid-template-rows: 50px;
  /*theme - silver red */
  background-color: #c8c7cc;
  /*background: linear-gradient(#3f57ad, #1b2b69);*/
  font-family: 'Montserrat';
  font-weight: bold;
  font-size: 30px;
  border-radius: 10px;
}
#sb-outs,#sb-count, #sb-progress-text, #sb-progress-icon {
  padding-top: 10px;
  /*theme - silver red */
  color: black;
  /*color: white;*/
}
#sb-progress-text{
  text-align: right;
  /*theme - silver red */
  color:#314b6f ;
  /*color: white;*/
}
